p {
  text-align: center;
}
input {
  width: 28px;
}

button {
  margin-top: 5px;
  background-color: #3e56c4;
  color: #fff;
  border-color: transparent;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  align-items: center;
  border: 1px solid transparent;
  height: 2.5em;
  border-radius: 0.375em;
  box-shadow: none;
  line-height: 1.5;
  white-space: nowrap;
  cursor: pointer;
  width: 4.3em;
}

#clearButton {
  background-color: #ffdc7d;
  color: rgba(0, 0, 0, 0.7);
}
.nobr {
  display: inline;
  /*font-size: 1.5rem;*/
}

#size {
  text-align: center;
}
#sizeButton,
.secondary {
  margin-left: 5px;
  height: 40px;
  width: 50px;
  background-color: #3488ce;
}

.wrapper {
  text-align: center;
}

.empty,
.result {
  /*  border: 1px solid black;*/
  margin: 0 auto;
}

.error {
  font-size: 14px;
  color: red;
}
