@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

p {
  text-align: center;
}
input {
  width: 35px;
}

nav {
  text-align: center;
}

button {
  margin-top: 5px;
  background-color: #3e56c4;
  color: #fff;
  border-color: transparent;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  align-items: center;
  border: 1px solid transparent;
  height: 2.5em;
  border-radius: 0.375em;
  box-shadow: none;
  line-height: 1.5;
  white-space: nowrap;
  cursor: pointer;
  font-weight: bold;
  padding: 8px 12px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

footer {
  padding: 40px;
  text-align: center;
}

input:disabled {
  background-color: #fff;
  border-color: #6d6d6d;
  border-width: 1.9px;
  padding: 1px 2px 1px 2px;
  color: black;
}

.nobr {
  display: inline;
  margin-right: 2px;
}

.dataEntry {
  text-align: center;
}

.empty,
.result,
.resultDijkstra,
.resultDfs {
  margin: 0 auto;
}

/*.resultDfs {
  margin: 0 auto;
}*/

table.resultDfs {
  border: 1px solid black;
  border-collapse: collapse;
}
.resultDfs * {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

.resultDfs td {
  text-align: center;
}

.error {
  font-size: 14px;
  color: #f03a5f;
  font-weight: bold;
}

.pFootnote,
.mSolution {
  color: #3e56c4;
  font-size: 14px;
  font-weight: bold;
}

.selected,
.clicked {
  background-color: rgb(62, 86, 196, 0.7);
  color: #fff;
  border: 2px solid #3e56c4;
  box-shadow: none;
}

.cleared {
  background-color: rgb(255, 220, 125, 0.7);
  color: #fff;
  border: 2px solid #ffdc7d;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.7);
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.footerText {
  color: #aaa;
  font-size: 12px;
  display: inline-block;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.badjList {
  background-color: white;
  color: #aaaaaa;
}

.picked {
  color: black;
  /*border: 2px solid black;*/
  box-shadow: none;
}

.boption {
  background-color: white;
  color: black;
  font-size: 10px;
  margin-left: 10px;
  font-weight: 300;
  padding: 0;
}

.secondary,
#sizeButton {
  margin-left: 5px;
  height: 40px;
  width: 50px;
  background-color: #3488ce;
}

#clearContent {
  background-color: #ffdc7d;
  color: rgba(0, 0, 0, 0.7);
}
